@model StoreFront.DATA.EF.Seed

@{
    ViewBag.Title = $"Details: {Model.CommonName}";
}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>@ViewBag.Title</h2>
                    <div class="breadcrumb__option">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                        <a href="@Url.Action("SeedsMVCPaging", "Filters")">Seed Bank</a>
                        <span>Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="/Content/img/product/@Model.ImageUrl" alt="@Model.CommonName" title="@Model.CommonName">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.CommonName</h3>

                    <div class="product__details__price">@Html.DisplayFor(model => model.Cost)</div>
                    <p>
                        @Model.Description
                    </p>
                    @using (Html.BeginForm("AddToCart", "Seeds", new { seedID = Model.SeedID }, FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.SeedID)
                        //txtbox for qty
                        @Html.TextBox("Qty", 1, new { @class = "form-control", style = "max-width:75px;display:inline;" })
                        //submit btn
                        <input type="submit" value="Add To Cart" class="primary-btn" name="qty" />
                    }
                    <ul>
                        <li><b>Availability</b> <span>@Model.ProductID</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Planting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Product Info</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Description:</h6>
                                <p>
                                    @Model.Description
                                </p>                                
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Planting Instructions:</h6>
                                <p>
                                    @Model.PlantingInstructions
                                </p>                                
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">                                
                                <p style="text-align:center;">
                                    Gene Type: @Html.DisplayFor(model => model.GeneType.GeneName)<br />
                                    Scientific Name: @Html.DisplayFor(model => model.ScientificName)<br />
                                    Ideal Temp: @Html.DisplayFor(model => model.IdealTemp.Temp)<br />
                                    Plant Spacing: @Html.DisplayFor(model => model.PlantSpacing.Spacing)<br />
                                    Planting Season: @Html.DisplayFor(model => model.Season.SeasonType)<br />
                                    Life Cycle: @Html.DisplayFor(model => model.LifeCycle.CycleType)<br />
                                    Minimum Sun (hrs): @Html.DisplayFor(model => model.MinFullSun.SunTime)<br />
                                    Seeds per Packet: @Html.DisplayFor(model => model.UnitsPerPacket.UnitsID)<br />
                                    Sprouts in(days): @Html.DisplayFor(model => model.SproutIn.SproutDays)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="detailLink">
        @Html.ActionLink("Edit", "Edit", new { id = Model.SeedID }) |
        @Html.ActionLink("Back to List", "SeedsMVCPaging", "Filters")
    </div>


