@model IEnumerable<StoreFront.DATA.EF.Seed>

@{
    ViewBag.Title = "Seed Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScientificName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlantingInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrostHardy.FrostID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneType.GeneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdealTemp.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LifeCycle.CycleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinFullSun.SunTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlantSpacing.Spacing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.SeasonType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeedCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeedDepth.DepthID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SproutIn.SproutDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsPerPacket.UnitsID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScientificName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlantingInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
            <img src="~/Content/img/VeggiesPictures/t_@item.ImageUrl" alt="Seed Cover" title="@item.CommonName" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrostHardy.FrostID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneType.GeneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdealTemp.Temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LifeCycle.CycleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinFullSun.SunTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlantSpacing.Spacing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.SeasonType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeedCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeedDepth.DepthID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SproutIn.SproutDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsPerPacket.UnitsID)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Seeds", new { id=item.SeedID })" >
                <i class="fa fa-pencil-square-o action-icons" aria-hidden="true"></i>
            </a>
            <a href="@Url.Action("Details", "Seeds", new { id=item.SeedID })">
                <i class="fa fa-info-circle action-icons" aria-hidden="true"></i>
            </a>
            <a href="@Url.Action("Delete", "Seeds", new { id=item.SeedID })">
                <i class="fa fa-trash action-icons" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
}

</table>
