@*@model IEnumerable<StoreFront.UI.MVC.Models.CartItemViewModel>*@
@* Commented out the above declaration to change the datatype associated to the view to be a dictionary(how we are store our cart *@

@model Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>
@{
    ViewBag.Title = "Shopping Cart";

    //defining the variables
    //used the ? to declair nullable variables.
    decimal? cartTotal = 0;
    int totalCountOfItems = 0;
}

<h2 style="padding-left:100px;">@ViewBag.Title</h2>

<p class="text-center">
    @Html.ActionLink("Back To Shopping", "Index", "Seeds", null, new { @class = "btn btn-danger" })
</p>
<!--If shopper arrives with no items in their cart, provide message (should show if they remove the last item from the cart as well)-->
@if (ViewBag.Message != null)
{
    <h3 class="text-center text-warning">@ViewBag.Message</h3>
}
else
{

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Product</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Sub Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Value.Product.CommonName)</td>
                                        <td class="shoping__cart__item">
                                            <img src="~/Content/img/product/t_@item.Value.Product.ImageUrl" alt="Seed Cover" title="@item.Value.Product.CommonName">
                                        </td>
                                        <td class="shoping__cart__price">
                                            @Html.DisplayFor(modelItem => item.Value.Product.Cost)
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            @using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
                                            {
                                                @Html.Hidden("SeedID", item.Value.Product.SeedID)
                                                @Html.TextBox("qty", item.Value.Qty, new { @class = "form-control", style = "max-width:55px; display:inline;" })
                                                <input type="submit" value="update" class="btn btn-secondary btn-sm" />
                                            }
                                            @{totalCountOfItems += item.Value.Qty;}
                                            @*<div class="quantity">
                                                    <div class="pro-qty">
                                                        <input type="text" value="1">
                                                    </div>
                                                </div>*@
                                        </td>
                                        <td class="shoping__cart__total">
                                            @{decimal? lineTotal = item.Value.Product.Cost * item.Value.Qty;
                                                cartTotal += lineTotal;
                                            }
                                            @string.Format($"{lineTotal:c}")
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            @Html.ActionLink("Remove From Cart", "RemoveFromCart", new { id = item.Value.Product.SeedID})
                                            @*<span class="icon_close"></span>*@
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="@Url.Action("Index","Seeds")" class="primary-btn cart-btn">CONTINUE SHOPPING</a>


                        <div class="primary-btn cart-btn cart-btn-right">
                            <span class="icon_loading"></span>
                            @*@using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
                                {
                                    @Html.Hidden("SeedID", item.Value.Product.SeedID)
                                    @Html.TextBox("qty", item.Value.Qty, new { @class = "form-control", style = "max-width:75px; display:inline;" })
                                    <input type="submit" value="Update Quantity" class="btn btn-primary" />
                                }*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h4 style="font-weight:700;">SUMMARY</h4>
                        <h5>Cart Total</h5>
                        <p>
                            You have @totalCountOfItems @(totalCountOfItems > 1 ? "products" : "seed") in your cart.
                            Your total before taxes and shipping is @string.Format($"{cartTotal:c}")
                        </p>
                        <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!-- Shoping Cart Section End -->
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>*@
