<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css">



    @RenderSection("styles", required: false)
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="/Content/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                @if (Session["cart"] != null &&
                                            ((Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"])
                                            .Count > 0)
                {
                    //get the total amount (count) of products in the cart and display with the icon

                    //Query to get the count of products
                    Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel> prods =
                        (Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"];
                    var prodCount = prods.Sum(p => p.Value.Qty);
                    <li>
                        <a href="/ShoppingCart/Index">
                            @*Cart*@<i class="fa fa-shopping-bag"></i>
                            <sup style="color:white; background-color:#7fad39;
                                                        height: 13px;
                                                        width: 13px;
                                                        line-height: 13px;
                                                        text-align: center;
                                                        font-weight: 700;
                                                        display: inline-block;
                                                        border-radius: 50%;
                                                        position: absolute;
                                                        top: 0;
                                                        right: -12px;">
                                @prodCount
                            </sup>

                        </a>
                    </li>
                    <!--Update the link to include the count of books in the cart-->
                }
                @*Comment out if you want the no click on cart...*@
                else
                {
                    <li>@Html.ActionLink("Cart", "Index", "ShoppingCart")</li>
                }
                @*<li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>*@
            </ul>
            @*<div class="header__cart__price">item: <span>$150.00</span></div>*@
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                @*<img src="/Content/img/language.png" alt="">
                    <div>English</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Spanis</a></li>
                        <li><a href="#">English</a></li>
                    </ul>*@
            </div>
            <div class="header__top__right__auth">
                <div class="header__menu">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-user"></i>Account<span class="arrow_carrot-down"></span></a>
                            <ul class="header__menu__dropdown">
                                <li>@Html.Partial("_LoginPartial")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                @*<a href="#"><i class="fa fa-user"></i> Login</a>*@
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "Seeds")">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        @*<li><a href="./blog-details.html">Blog Details</a></li>*@
                    </ul>
                </li>
                @*<li><a href="./blog.html">Blog</a></li>*@
                <li><a href="@Url.Action("Contact" , "Home")">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                @*<li><i class="fa fa-envelope"></i> hello@colorlib.com</li>*@
                <li>Free Shipping for all Orders within the U.S.A.</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                @*<li><i class="fa fa-envelope"></i> hello@colorlib.com</li>*@
                                <li>Free Shipping for all Orders within the U.S.A.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                <div class="header__menu">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fa fa-user"></i>Account<span class="arrow_carrot-down"></span></a>
                                            <ul class="header__menu__dropdown">
                                                <li>@Html.Partial("_LoginPartial")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                @*<ul>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                               aria-expanded="false">Login</a>
                                            <div class="dropdown-menu account-dropdown" style="background-color: gray;">
                                                @Html.Partial("_LoginPartial")
                                            </div>
                                        </li>
                                    </ul>*@

                                @*<i class="fa fa-user"></i>@Html.Partial("_LoginPartial")*@
                                @*<a href="#"><i class="fa fa-user"></i> Login</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/SeedBank Logo2.JPG" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("SeedsMVCPaging", "Filters")">Shop'Em Seeds</a></li>                                                        
                            <li><a href="@Url.Action("Contact" , "Home")">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>                            
                            @*Only show icon for cart link if session cart exists and has more than 0 items*@
                            @if (Session["cart"] != null &&
                                            ((Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"])
                                            .Count > 0)
                            {
                                //get the total amount (count) of products in the cart and display with the icon

                                //Query to get the count of products
                                Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel> prods =
                                    (Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"];
                                var prodCount = prods.Sum(p => p.Value.Qty);
                                <li>
                                    <a href="/ShoppingCart/Index">
                                        @*Cart*@<i class="fa fa-shopping-bag"></i>
                                        <sup style="color:white; background-color:#7fad39;
                                                        height: 13px;
                                                        width: 13px;
                                                        line-height: 13px;
                                                        text-align: center;
                                                        font-weight: 700;
                                                        display: inline-block;
                                                        border-radius: 50%;
                                                        position: absolute;
                                                        top: 0;
                                                        right: -12px;">
                                            @prodCount
                                        </sup>

                                    </a>
                                </li>
                                <!--Update the link to include the count of seeds in the cart-->
                            }
                            @*Comment out if you want the no click on cart...*@
                            else
                            {
                                <li>@Html.ActionLink("Shopping Cart:0", "Index", "ShoppingCart")</li>
                            }

                            @*<li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>*@
                        </ul>                        
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <div class="main">
        @RenderBody()
    </div>
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="@Url.Action("Index", "Home")" img src="~/Content/img/logo.png" alt=""></a>
                        </div>
                        @*<ul>
                            <li>Address: Drexel, MO</li>
                            <li>Phone: 800-321-1234</li>
                            <li>Email: admin@seedbank.com</li>
                        </ul>*@
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        @*<h6>Join Our Newsletter Now</h6>*@
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <p>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</p>
                            <p>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</p>
                        }
                        @*<p>Get E-mail updates about our latest shop and special offers.</p>*@
                        
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib, Improved by:Ben Slenker</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="~/Content/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    @*<script src="~/Content/js/jquery-3.3.1.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/jquery.nice-select.min.js"></script>
        <script src="~/Content/js/jquery-ui.min.js"></script>
        <script src="~/Content/js/jquery.slicknav.js"></script>
        <script src="~/Content/js/mixitup.min.js"></script>
        <script src="~/Content/js/owl.carousel.min.js"></script>
        <script src="~/Content/js/main.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.slicknav.js"></script>
    <script type="text/javascript" src="~/Scripts/mixitup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>