@using Microsoft.AspNet.Identity
@using StoreFront.DATA.EF;

@{ 
    string currentUserId = User.Identity.GetUserId();
    StoreFrontEntities ctn = new StoreFrontEntities();
    UserDetail ud = ctn.UserDetails.Where(u => u.UserID == currentUserId).FirstOrDefault();
    string greet = "Guest";
    string favColor = "#FFF";
    if(ud !=null)
    {
        greet = ud.FirstName;
        favColor = ud.FavoriteColor;
    }
}


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + greet, "Index", "Manage", null, new {style="color: " + favColor + ";", title = "Manage" })
            </li>
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li><a class="nav-link" href="@Url.Action("Register", "Account")">Register</a></li>
        <li><a class="nav-link" href="@Url.Action("Login", "Account")">Login</a></li>
    </ul>
}
@*@if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>*@

@*<li class="nav-item"><a class="nav-link" href="@Html.Partial("_LoginPartial")"> <i class="fas fa-user-alt mr-1 text-gray"></i>Login</a></li>*@


@*<li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@

@*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@