@model StoreFront.DATA.EF.Seed


@{
    ViewBag.Title = "Create Seed";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Seed Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                        <span>@ViewBag.Title</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
@using (Html.BeginForm("Create", "Filters", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="col-md-8 centered">
        <div class="form-vertical">
            <h4>Seeds Table</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CommonName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CommonName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CommonName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ScientificName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8 ">
                    @Html.EditorFor(model => model.ScientificName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ScientificName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8 ">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PlantingInstructions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8 ">
                    @Html.EditorFor(model => model.PlantingInstructions, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PlantingInstructions, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8 ">
                    @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="container centered">
            <div class="form-inline">
                <div class="form-row">
                    <div class="form-group" style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.SpacingID, "SpacingID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("SpacingID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SpacingID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.UnitsID, "UnitsID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("UnitsID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UnitsID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.CycleID, "CycleID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("CycleID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CycleID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.ProductID, "ProductID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4 style="padding:4px 10px 4px 10px;"">
                            @Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.SproutID, "SproutID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("SproutID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SproutID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.SeasonID, "SeasonID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("SeasonID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SeasonID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.SunID, "SunID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("SunID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SunID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.TempID, "TempID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("TempID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TempID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.GeneID, "GeneID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("GeneID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GeneID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.DepthID, "DepthID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("DepthID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DepthID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group"style="padding:4px 10px 4px 10px;">
                        @Html.LabelFor(model => model.FrostID, "FrostID", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4" style="padding:4px 10px 4px 10px;">
                            @Html.DropDownList("FrostID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FrostID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @*@Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })*@
                <input type="file" name="SeedPacket" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 ">
                <input type="submit" value="Create" class="primary-btn" />
            </div>
        </div>
    </div>
    
}

    <div class="col-md-8 centered">
        @Html.ActionLink("<< Back to List >>", "SeedsMVCPaging", "Filters")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
