@*@model IEnumerable<StoreFront.DATA.EF.Seed>*@
@*@model StoreFront.DATA.EF.Seed*@
@model PagedList.IPagedList<StoreFront.DATA.EF.Seed>

@using PagedList.Mvc;

@{
    /**/

    ViewBag.Title = "Seed Store";
}


<body>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Seed Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                            <span>@ViewBag.Title</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    @using (Html.BeginForm("SeedsMVCPaging", "Filters", FormMethod.Get))
                    {
                        <div class="row" id="search">
                            <div class="col-md-2 text-right" style="padding: .5em; font-size:x-large; font-weight:700;">
                                <label for="searchFilter">Search:</label>
                            </div>
                            <div class="col-md-6" style="padding: .5em; height:30px; width:508px;">
                                @Html.TextBox("SearchString", ViewBag.SearchString as string)
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Search" class="primary-btn" />
                            </div>
                            <div class="col-md-2">
                                @Html.ActionLink("Reset", "SeedsMVCPaging", "Filters", null, new { @class = "btn btn-danger" })
                            </div>

                        </div>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <p>
                            @Html.ActionLink("Create New", "Create", "Filters")
                        </p>
                    }

                        <nav aria-label="Search results pages"> @Html.PagedListPager(Model, page => Url.Action("SeedsMVCPaging", new { page, searchString = ViewBag.SearchString }))</nav>
                    <div class="row">
                        @foreach (var item in Model)
                        {

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/Content/img/product/@item.ImageUrl">
                                        <ul class="product__item__pic__hover">
                                            <li><a href="@Url.Action("Details", "Filters", new { id = item.SeedID })"><i class="fa fa-info-circle"></i></a></li>
                                            <li>
                                                @*<a href="@Url.Action("Index","ShoppingCart","ShoppingCart")"><i class="fa fa-shopping-cart"></i></a>*@
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="@Url.Action("Details", "Filters", new { id = item.SeedID })">@Html.DisplayFor(modelItem => item.CommonName)</a></h6>
                                    <h5>@Html.DisplayFor(modelItem => item.Cost)</h5>
                                </div>
                            </div>
                        }
                    </div>
                    <hr style="border: 2px solid darkgray" />
                    <!--Create  the pager: show the current page and links to other pages (PageList)-->
                    <!--Ternary: ExpressionToEvaluate ? True: False-->
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
</body>