@model StoreFront.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
}

@*//using statment below renders a form including all of the items in the scopes of that helper method. Everything all HTML will render in the form tag*@
@using (Html.BeginForm())
{   //AntiForgeryToken below will render a unique token on the form the user gets and protects against a request to process the form from any machine that doesn't have this token.
    @Html.AntiForgeryToken()
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/Content/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Contact Us</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Contact Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Phone</h4>
                        <p>816-867-5309</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Address</h4>
                        <p>16 Creek Ave. Drexel,MO</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Open time</h4>
                        <p>10:00 am to 5:00 pm</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p><a href="@Url.Action("Contact", "Home")">Email: admin@theseedbank.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <!-- Map Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24982.487735934046!2d-94.60863184422848!3d38.49200362713837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c7322b45ec62d7%3A0x9b934b272d0853bd!2sDrexel%2C%20MO%2064742!5e0!3m2!1sen!2sus!4v1615640866355!5m2!1sen!2sus" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>The Seed Bank</h4>
                <ul>
                    <li>Phone: 816-867-5309</li>
                    <li>Add: 16 Creek Ave. Drexel, MO</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->
    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Leave Message</h2>
                    </div>
                </div>
            </div>
            <form action="#">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-lg-6 col-md-6", style="padding: 10px 15px 10px 15px;">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-lg-6 col-md-6", style="padding: 10px 15px 10px 15px;">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-lg-6 col-md-6", style="padding: 10px 15px 10px 15px;">
                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Subject" } })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-lg-12 text-center", style="padding: 10px 15px 10px 15px;">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Message" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        <div class="col-md-2 center" style="padding:20px 0 0 32rem;">
                            <input type="submit" value="Create" class="primary-btn" />
                        </div>
                    </div>



                </div>
            </form>
        </div>
    </div>
}

@if (ViewBag.CustomerMessage != null)
{
    @*Html.Raw() translates HTML instead of rendering it as text. otherwise the br lines would show up as text.*@
    <h4>@Html.Raw(ViewBag.CustomerMessage)</h4>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval");

}
<!-- Contact Form End -->
