@model IEnumerable<StoreFront.DATA.EF.Seed>

@{
    ViewBag.Title = "Home";
}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__item set-bg" data-setbg="/Content/img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>Fruits and Veggies</span>
                        <h2>Hierloom Seeds <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="@Url.Action("SeedsMVCPaging", "Filters")" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories" style="padding-bottom:50px;">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/Content/img/product/2f902eef-5fb8-44c4-98a4-884b6aede168.jpg">
                        <h5><a href="@Url.Action("SeedsMVCPaging", "Filters")">Cabbage</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/Content/img/product/769d9cea-c960-4e5a-b136-ee42fc5c09d1.jpg">
                        <h5><a href="@Url.Action("SeedsMVCPaging", "Filters")">Corn</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/Content/img/product/ac62c9ed-a471-4c1b-a407-1aa5e759d862.jpg">
                        <h5><a href="@Url.Action("SeedsMVCPaging", "Filters")">Broccoli</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/Content/img/product/2e4ac7b3-8ee6-486c-b85e-bd497a38a316.jpg">
                        <h5><a href="@Url.Action("SeedsMVCPaging", "Filters")">Herbs</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="/Content/img/product/6b55bf42-61bc-4f87-bb74-0d904d18fd7d.jpg">
                        <h5><a href="@Url.Action("SeedsMVCPaging", "Filters")">Beans</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

